<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h1 class="mt-5">{{ title }}</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card border-0 mt-4 shadow">
          <div class="card-body">
            <p class="lead">Welcome to our Expense Management Application.</p>
            <p class="text-muted">Our application is designed to help you keep track of your expenses in a simple and intuitive way. With features such as expense categorization and real-time expense reporting, managing your finances has never been easier. Give our application a try and start taking control of your expenses today.</p>
          </div>
        </div>
      </div>
    </div>
  </div>